{% block footer %}

<footer>
	<div class="wrapper">
		<ul>
			<li><img src="{{ image }}logo-buildmyproject-gray.png" alt="Logo Build my project gray"></li>
			<li><a href="{{ home }}">Accueil</a></li>
			<li><a href="{{ home }}howitworks">Comment ça marche</a></li>
			<li><a href="{{ home }}">Mentions légales</a></li>
			<li class="socialFooter">
				<a href="#">
					<img src="{{ image }}facebook-icon-gray.png" alt="Facebook icon gray" />
				</a>
			</li>
			<li class="socialFooter">
				<a href="#">
					<img src="{{ image }}twitter-icon-gray.png" alt="Facebook icon gray" />
				</a>
			</li>
		</ul>
		<hr class="clear" />
	</div>
</footer>

{% endblock %}