{% block menu %}
	<nav class="navbar navbar-default navbar-fixied-top" style="border-radius:0;">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{home}}">Build It Simply</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{home}}howitworks">How it works</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% if login %}
						{% if login.type == 'CLIENT' %}
							<li><a href="{{ home }}projects/new">Proposer un projet</a></li>
                            <li><a href="{{ home }}projects/list">Mes projets</a></li>
                            <li><a href="{{ home }}users/notifications">Notifications</a></li>
						{% endif %}
						<li><a href="{{home}}users/logout">Logout</a></li>
						<li><a href="{{home}}users/profile">Profile</a></li>
					{% else %}
						<li><a href="{{home}}users/login">Login</a></li>
						<li><a href="{{home}}users/register">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}