{% block menu %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ home }}admin">Administration BuildItSimply</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ login.firstname ~ " " ~ login.lastname }} <b
                        class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ home }}users/profile"><i class="fa fa-fw fa-user"></i> Profil</a>
                </li>
                <li>
                    <a href="{{ home }}">Retourner au site</a>
                </li>
                <li>
                    <a href="{{ home }}users/logout"><i class="fa fa-fw fa-power-off"></i> Deconnexion</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="{{home}}admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#freelance"><i
                            class="fa fa-fw fa-arrows-v"></i>
                    Freelance<i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="freelance" class="collapse">
                    <li>
                        <a href="{{home}}admin/freelance/skill/new">Ajouter une compétence</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#project"><i
                            class="fa fa-fw fa-arrows-v"></i>
                    Projets <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="project" class="collapse">
                    <li>
                        <a href="{{home}}admin/project/type">Ajouter un type</a>
                    </li>
                    <li>
                        <a href="{{home}}admin/project/question">Ajouter une question</a>
                    </li>
                     <li>
                        <a href="{{home}}admin/project/response">Répondre à une question</a>
                    </li>                     
                    <li>
                        <a href="{{home}}admin/project/step">Gérer les étapes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
{% endblock %}