{% block body %}

    {% for date, participation in participations %}
        <div class="notBloc">
            <p class="dateNot">{{ participation.0.created_at |date("d F Y") }}</p>
            <ul>
                {% for notification in participation %}
                    <li>
                        <img src="{{ home ~ notification.freelance.picture }}" alt="Notification user"/>

                        <p>
                            <a href="{{ home }}users/profile/{{ notification.freelance.id }}">{{ notification.freelance.firstname ~ notification.freelance.lastname }}</a>
                            souhaite participer à votre projet <a
                                    href="{{ home }}projects/{{ notification.project_id }}">{{ notification.project.name }}</a>
                        </p>

                        <hr class="clear"/>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% endfor %}

{% endblock %}
