{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <h2>Ajouter une question</h2>
    <form method="post" action="{{ home ~ request }}" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group {{ (errors.type) ? 'has-error' : '' }}">
            <label for="question" class="col-sm-2 control-label">Question</label>

            <div class="col-sm-10">
                <input type="text" name="question" value="{% if question.name %}{{ question.name }}{% endif %}"
                       class="form-control" id="question" placeholder="Question">
                <span class="help-block with-errors">{% if errors.question %}{{ errors.question }}{% endif %}</span>
            </div>
        </div>

        <div class="form-group response-container">
            <label for="reponse" class="col-sm-2 control-label">Réponse</label>

            <div class="col-sm-10">
                <div class="col-sm-10">
                    <input type="text" name="response[0][response]" class="form-control" placeholder="Réponse">
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <div class="col-sm-10">
                    <textarea class="form-control" name="response[0][description]" cols="3" rows="3"
                              placeholder="Description de la réponse"></textarea>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <div class="col-sm-10">
                    <input type="file" name="image[]"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="add_response" class="btn btn-sm" type="button">Ajouter une autre reponse
                </button>
            </div>
        </div>

        <div class="form-group {{ (errors.project_type) ? 'has-error' : '' }}">
            <label for="project_step" class="col-sm-2 control-label">Type de projet</label>

            <div class="col-sm-10">
                <select name="project_type" class="form-control">
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
                <span class="help-block with-errors">{% if errors.project_type %}{{ errors.project_type }}{% endif %}</span>
            </div>
        </div>
        <div class="form-group {{ (errors.project_step) ? 'has-error' : '' }}">
            <label for="project_step" class="col-sm-2 control-label">Etape</label>

            <div class="col-sm-10">
                <select name="step" class="form-control">
                    {% for i in 1..10 %}
                        <option value="{{ i }}">Etape {{ i }}</option>
                    {% endfor %}
                </select>
                <span class="help-block with-errors">{% if errors.step %}{{ errors.step }}{% endif %}</span>
            </div>
        </div>
        <div class="form-group {{ (errors.description) ? 'has-error' : '' }}">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea name="description" class="form-control" rows="3"
                          placeholder="Description de la question"></textarea>
                <span class="help-block with-errors">{% if errors.description %}{{ errors.description }}{% endif %}</span>
            </div>
        </div>
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-10">
                <button id="submit" type="submit" class="btn btn-success btn-default">Ajouter la question</button>
            </div>
        </div>
    </form>


{% endblock %}

{% block partial_js %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            var i = 0;

            $('#add_response').click(function (e) {
                i++;
                $('.response-container').last().after("<div class='form-group response-container'>             <label for='reponse' class='col-sm-2 control-label'>Réponse</label> <div class='col-sm-10'> <div class='col-sm-10'> <input type='text' name='response[" + i + "][response]' class='form-control' placeholder='Réponse'> </div> </div> <div class='col-sm-10 col-sm-offset-2'> <div class='col-sm-10'> <textarea class='form-control' name='response[" + i + "][description]' cols='3' rows='3'placeholder='Description de la réponse'></textarea> </div> </div> <div class='col-sm-10 col-sm-offset-2'> <div class='col-sm-10'> <input type='file' name='image[]'> </div> </div></div>");

            });
        });
    </script>

{% endblock %}