{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
	<h2>Gérer les étapes</h2>

	<form method="post" action="{{ home ~ request }}" class="form-horizontal">
	<div class="form-group">
	{% for type in types %}
		<div class=" panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<input type="checkbox" name="checked_type[{{type.id}}]" value="type"> 
					{{type.type}}
				</h3>
			</div>
			{% for step in steps if step.project_type_id == type.id %}
			  	<div class="panel-body">
			 		<input type="checkbox" name="checked_question[{{step.project_question_id}}]" value="question">
			  		ETAPE {{step.step}}  
			  		<input class="form-control" type="text" name="question[{{step.project_question_id}}]" class="form-control" value="{{step.question}}">
			  		{% for response in responses if response.question_id == step.project_question_id %}
			  		<div class="col-sm-offset-1">
			  			<input type="checkbox" name="checked_response[{{response.id}}]" value="response"> 
			  			<label for="response[{{response.id}}]" class="control-label">Réponse </label>
			  			<input id="response[{{response.id}}]" class="form-control" type="text" name="response[{{response.id}}][response]"  value="{{response.response}}" placeholder="Intitulé de la réponse">
			  			<div class="col-sm-offset-1">
			  				<label for="description[{{response.id}}]" class="control-label">Description </label>
			  				<textarea id="description[{{response.id}}]" class="form-control" rows="3" name="response[{{response.id}}][description]" placeholder="Description de la réponse">{{response.description}}</textarea>
			  				<label for="tag[{{response.id}}]" class="control-label">Tag </label>
			  				<input id="tag[{{response.id}}]" class="form-control" type="text" name="response[{{response.id}}][tag]"  value="{{response.tag}}" placeholder="Tags liés à la réponse">
			  				<label for="price[{{response.id}}]" class="control-label">Prix </label>
			  				<input id="price[{{response.id}}]" class="form-control" type="text" name="response[{{response.id}}][price]"  value="{{response.price}}" placeholder="Le prix de l'élément">
			  			</div>
			  		</div>

			  		{% endfor %}	
			  	</div>
			{% endfor %}
	 	</div>
	{% endfor %}
	</div>

	    <div class="form-group">
	    	<div class="col-sm-1">
	        	<button id="submit" type="submit" name="button" value="update" class="btn btn-success btn-default">Enregistrer les modifications
	            </button>
	        </div>
	        <div class="col-sm-offset-3">
	            <button id="submit" type="submit" name="button" value="remove" class="btn btn-danger btn-default">Supprimer la selection
	            </button>
	        </div>
	    </div>

	</form>

{% endblock %}



{% block partial_js %}

    <script>
        $(document).ready(function () 
        {
            $(':input[value="type"]').click(checkAll);

            function checkAll()
            {
            	if( this.checked )
            	{
            		var parent = this.parentNode.parentNode.parentNode;
            		var inputs = parent.getElementsByTagName('input');
            		for(var i = 0; i<inputs.length; i++)
            			inputs[i].checked = true;
            	}
            }


        });
    </script>

{% endblock %}