{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div class="pageHead">
        <h1>liste des projets</h1>

        <p>Les recruteurs ont besoin de vous, n’hésitez pas à proposer vos services !</p>
    </div>
    <div class="wrapper">
        <div id="sidebar">
            <h2>Rechercher un projet <span>par mot clé</span></h2>

            <form method="post" action="{{ home }}projects/search" class="form-horizontal form-group">
                <input type="text" name="searchWords" value="{% if searchWords %}{{ searchWords }}{% endif %}"
                       class="form-control" id="search" placeholder="Saisir des mots clés">
            </form>

            <h2>Catégorie des projets</h2>
            <ul id="listCategorie">
                <li class="listActive"><a href="#">Toutes les catégories <span>126</span></a></li>
                {% for category in categories %}
                    <li><a href="#">{{ category.type | capitalize }} <span>46</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="listMenu">
            <p>{{ projects | length }} Projets trouvés</p>
            <span class="custom-dropdown big">
                <select>
                    <option>Projet récent</option>
                    <option>Projet demande</option>
                    <option>Projet récent</option>
                    <option>Projet récent</option>
                </select>
            </span>
        </div>

        <div class="listProjet">

            <ul>
                {% for project in projects %}
                    <li>
                        <h3><a href="{{ home }}projects/{{ project.id }}">{{ project.name }}</a></h3>

                        <p class="infoList">
                            <span><img src="{{ image }}calendar.png"
                                       alt="Date de l'offre"/>{{ project.created_at }}</span>
                            <span><img src="{{ image }}user-list.png" alt="Nombre d'offre"/>{{ project.proposition }}
                                demande(s)</span>
                        </p>

                        <p class="textList">{{ project.description }}</p>

                        <p class="tagList">
                            <a href="">{{ project.type | capitalize }}</a>
                            {% for tag in project.tags %}
                                <a href="">{{ tag.tag | capitalize }}</a>
                            {% endfor %}
                        </p>

                        <p class="budgetList">Budget estimé<span>{{ project.price }} €</span></p>

                        <p class="etatList"><a href="{{ home }}projects/{{ project.id }}">{{ project.status }}</a></p>
                        <hr class="clear"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="clear"/>
        <div id="pagination">
            <ul>
                <li class="previous"><a href="#">← Précédent</a></li>
                <li class="pageActive"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="next"><a href="#">Suivant →</a></li>
            </ul>
            <hr class="clear"/>
        </div>

    </div>


    <div class="push"></div>
    </div><!-- end page -->
{% endblock %}