{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div class="pageHead">
        <h1>liste des projets</h1>

        <p>Les recruteurs ont besoin de vous, n’hésitez pas à proposer vos services !</p>
    </div>
    <div class="wrapper">
        <div id="sidebar">
            <h2>Rechercher un projet <span>par mot clé</span></h2>

            <form id="form-search" method="post" action="{{ home }}projects/search" class="form-horizontal form-group">
                <input type="text" name="searchWords" value="{% if searchWords %}{{ searchWords }}{% endif %}"
                       class="form-control" id="search" placeholder="Saisir des mots clés">
            </form>

            <h2>Catégorie des projets</h2>
            <ul id="listCategorie">
                <li class="listActive"><a href="{{ home }}projects/">Toutes les catégories
                        <span>{{ number_project }}</span></a></li>
                {% for category in categories %}
                    <li class="category-{{ category.id }}"><a class="filter_category" href="{{ home }}projects/category/{{ category.id }}"
                           data-category="{{ category.id }}">{{ category.type | capitalize }}
                            <span>{{ category.number_project }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        {# disable for now #}
        {#<div id="listMenu">#}
            {#<p>{{ number_project }} Projets trouvés</p>#}
            {#<span class="custom-dropdown big">#}
                {#<select>#}
                    {#<option>Projet récent</option>#}
                    {#<option>Projet demande</option>#}
                    {#<option>Projet récent</option>#}
                    {#<option>Projet récent</option>#}
                {#</select>#}
            {#</span>#}
        {#</div>#}
        {# disable for now #}

        <div id="project-list" class="listProjet">

            <ul>
                {% for project in projects %}

                    <li>
                        <h3><a href="{{ home }}projects/{{ project.id }}">{{ project.name }}</a></h3>

                        <p class="infoList">
                            <span><img src="{{ image }}calendar.png"
                                       alt="Date de l'offre"/>{{ project.created_at | date("d F Y") }}</span>
                            <span><img src="{{ image }}user-list.png" alt="Nombre d'offre"/>{{ project.proposition }}
                                demande(s)</span>
                        </p>

                        <p class="textList">{{ project.description }}</p>

                        <p class="tagList">
                            <a href="">{{ project.type.type | capitalize }}</a>
                            {% for tag in project.tags %}
                                <a href="">{{ tag.tag | capitalize }}</a>
                            {% endfor %}
                        </p>

                        <p class="budgetList">Budget estimé<span>{{ project.price }} €</span></p>

                        <p class="etatList"><a href="{{ home }}projects/{{ project.id }}">{{ project.status }}</a></p>
                        <hr class="clear"/>
                    </li>
                {% endfor %}
            </ul>

            {% if projects | length == 0 %}
                <p>Il n'y a aucun projet pour le moment.</p>
            {% endif %}

        </div>
        <hr class="clear"/>
        <div id="pagination">
            <ul>
                {% if page > 0 %}
                    <li class="previous"><a href="{{ home }}projects/page/{{ page - 1 }}">← Précédent</a></li>
                {% endif %}
                {% for i in 1 .. number_page if number_page > 0 %}
                    <li><a href="{{ home }}projects/page/{{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if page < number_page %}
                    <li class="next">
                        <a href="{{ home }}projects/page/{{ (page == 0) ? page + 2 : page + 1 }}">Suivant
                            →</a>
                    </li>
                {% endif %}
            </ul>
            <hr class="clear"/>
        </div>

    </div>


    <div class="push"></div>
    </div><!-- end page -->
{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script>
        function getByCategory(e) {
            e.preventDefault();
            var category = $(e.currentTarget).attr('data-category');

            $.ajax({
                url: "{{ home }}projects/category/" + category,
                type: "GET"
            }).done(function (data, textStatus, jqXHR) {
                $('#project-list').empty().append(data);
                $('#listCategorie').children('li.listActive').removeClass('listActive');
                $("#listCategorie").children('li.category-' + category).addClass('listActive');
            }).fail(function (error) {
                console.log(error);
            });
        }

        function search(e){
            e.preventDefault();
            var search = $(e.currentTarget).children('input').val();

            $.ajax({
                url: "{{ home }}projects/search",
                type: "POST",
                data: {
                    searchWords: search
                }
            }).done(function(data, textStatus, jqXHR){
                $('#project-list').empty().append(data);
            });
        }

        $('.filter_category').click(getByCategory);
        $('#form-search').submit(search);
    </script>
{% endblock %}