{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div class="pageHead">
        <h1>liste des projets</h1>
    </div>
    <div class="wrapper">
        <div id="sidebar">
            <h2>Rechercher un projet <span>par mot clé</span></h2>

            <form method="post" action="{{ home }}projects/search" class="form-horizontal form-group">
                <input type="text" name="searchWords" value="{% if searchWords %}{{ searchWords }}{% endif %}"
                       class="form-control" id="search" placeholder="Saisir des mots clés">
            </form>

            <h2>Catégorie des projets</h2>
            <ul id="listCategorie">
                <li class="listActive"><a href="#">Toutes les catégories <span>126</span></a></li>
                <li><a href="#">Design <span>46</span></a></li>
                <li><a href="#">Développement <span>89</span></a></li>
                <li><a href="#">E-commerce <span>14</span></a></li>
                <li><a href="#">Services <span>4</span></a></li>
                <li><a href="#">Web marketing <span>21</span></a></li>
            </ul>
        </div>
        <div id="listProjet">
            <ul>
                {% for project in projects %}
                    <li>
                        <h3><a href="{{ home }}projects/{{ project.id }}">{{ project.name }}</a></h3>

                        <p class="infoList">
                            <span><img src="{{ image }}calendar.png" alt="Date de l'offre"/>{{ project.created_at }}</span>
                            <span><img src="{{ image }}user-list.png" alt="Nombre d'offre"/>{{ project.proposition }} demande(s)</span>
                        </p>

                        <p class="textList">{{ project.description }}</p>

                        <p class="tagList"><a href="#">tag</a><a href="#">tag</a></p>

                        <p class="budgetList">Budget estimé<span>500 €</span></p>

                        <p class="etatList"><a href="{{ home }}projects/{{ project.id }}">{{ project.status }}</a></p>
                        <hr class="clear"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="clear"/>
        <div id="pagination">
            <ul>
                <li class="previous"><a href="#">← Précédent</a></li>
                <li class="pageActive"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="next"><a href="#">Suivant →</a></li>
            </ul>
            <hr class="clear"/>
        </div>

    </div>


    <div class="push"></div>
    </div><!-- end page -->
{% endblock %}