{% block body %}

    <div class="jumbotron">
        <h3>Vos propositions</h3>
        <div id="demand-message" class="message alert alert-danger" style="display: none;" role="alert"></div>
        <ul class="propositions" style="list-style: none;">
            {% for proposition in propositions %}
                <li class="row">
                    <div class="col-xs-1 picture">
                        <a href="{{ home }}users/profile/{{ proposition.id }}" class="thumbnail">
                            <img height="20px" width="20px"
                                 src="{{ (proposition.picture) ? home ~ proposition.picture : "http://placehold.it/20x20" }}"
                                 alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-5 information">
                        {{ proposition.firstname ~ " " ~ proposition.lastname }}
                        , {{ proposition.type|lower ~ " de niveau " ~ proposition.experience|lower|capitalize }}
                    </div>
                    <div class="col-xs-6 choice">
                        {% if proposition.status == "ACCEPT" or proposition.status == "PENDING" %}
                            <button class="demand btn btn-sm {{ (proposition.status == "ACCEPT") ? "btn-success" : "" }}" {{ (disable) ? "disabled" }}
                                    data-choice="accept"
                                    data-project-id="{{ project.id }}"
                                    data-freelance-id="{{ proposition.freelance_id }}">Accepter
                            </button>
                        {% endif %}

                        {% if proposition.status == "DECLINE" or proposition.status == "PENDING" %}
                            <button class="demand btn btn-sm {{ (proposition.status == "DECLINE") ? "btn-danger" : "" }}" {{ (disable) ? "disabled" }}
                                    data-choice="decline"
                                    data-project-id="{{ project.id }}"
                                    data-freelance-id="{{ proposition.freelance_id }}">Refuser
                            </button>
                        {% endif %}

                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-success btn-sm" href="{{ home }}projects/{{ project.id }}/proposition/close">Cloturer les
            demandes</a>
    </div>

{% endblock %}
