{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div id="projectView">

        <div class="wrapper">

            <form method="post" action="{{ home }}projects/edit/{{ project.id }}" class="form-horizontal">

                <div id="profileInfo">

                    <h1>
                        Titre du projet
                        <input type="text" name="name" value="{% if project.name %}{{ project.name }}{% endif %}"
                               class="form-control" id="name" placeholder="Titre du projet">
                        <span class="help-block with-errors">{% if errors.name %}{{ errors.name }}{% endif %}</span>
                    </h1>

                    <h2>
                        <span>Proposé par </span>
                        <a href="{{ home }}users/profile/{{ project.client.id }}">{{ project.client.firstname ~ " " ~ project.client.lastname }}</a>
                    </h2>

                    <ul>

                        <li>Date <span>{{ project.created_at | date("d F Y") }}</span></li>
                        <li>Cibles
                            <input name="targets" type="text" class="form-control" id="targets"
                                   placeholder="Adulte, Jeune, Femme ..." value="{{ project.targets }}"/>
                            <span class="help-block with-errors">{% if errors.targets %}{{ errors.targets }}{% endif %}</span>
                        </li>
                        <li>Site web
                            <input type="url" name="url" value="{% if project.url %}{{ project.url }}{% endif %}"
                                   class="form-control" id="url" placeholder="Adresse URL du projet (si existant)">
                            <span class="help-block with-errors">{% if errors.url %}{{ errors.url }}{% endif %}</span>
                            </span>
                        </li>
                        <li>Estimation <span>{{ project.price }} €</span></li>
                        <li>
                            <p class="tagList">
                                <a href="#">{{ project.type.type | capitalize }}</a>
                                {% for tag in tags %}
                                    <a href="#">{{ tag.tag | capitalize }}</a>
                                {% endfor %}
                            </p>
                        </li>
                        <li class="projectFiche">
                            <p>Fichiers utiles <span>Télécharger</span></p>
                            <ul>
                                <li><a href="#">chartegraphique.pdf</a></li>
                                <li><a href="#">logoLorem.pdf</a></li>
                                <li><a href="#">texte.pdf</a></li>
                            </ul>
                        </li>

                    </ul>
                    <hr class="clear"/>

                    <button type="submit" class="buttonWhite">Enregistrer les modifications</button>
                    <a class="btn btn-default" href="{{ home }}projects/delete/{{ project.id }}">Annuler le projet</a>

                </div>

                <div id="profileDescription">

                    <h3>Description du projet</h3>

                    <p class="infoList">
                        <textarea name="description" id="description" class="form-control" rows="5"
                                  placeholder="Veuillez décrire brievement votre projet">{{ (project.description) ? project.description : "" }}</textarea>
                        <span class="help-block with-errors">{% if errors.description %}{{ errors.description }}{% endif %}</span>
                    </p>

                    <h3>Commentaires</h3>

                    <p class="infoList">
                        <textarea name="recommendation" id="recommendation" class="form-control" rows="5"
                                  placeholder="Mentionner toutes informations complémentaires pouvant faciliter le travail des Freelances.">{{ (project.recommendation) ? project.recommendation : "" }}</textarea>
                        <span class="help-block with-errors">{% if errors.recommendation %}{{ errors.recommendation }}{% endif %}</span>
                    </p>

                </div>

            </form>


            <div class="listProjet">
                {% if project.status == "OUVERT" %}
                    {% include 'projects/demand.twig' ignore missing %}
                {% elseif project.status == "EN COURS" %}
                    {% include 'projects/selection.twig' ignore missing %}
                {% endif %}
            </div>

            <hr class="clear"/>
            <div class="push"></div>

        </div>
    </div>


{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script>
        $('.demand').click(function (e) {
            e.preventDefault();
            var project_id = $(this).attr("data-project-id");
            var freelance_id = $(this).attr("data-freelance-id");
            var choice = $(this).attr("data-choice");
            var self = $(this);


            $.ajax({
                url: "{{ home }}projects/proposition/choice",
                type: "POST",
                data: {
                    project_id: project_id,
                    freelance_id: freelance_id,
                    status: choice
                }
            }).done(function (data, textStatus, jqXHR) {
                // removing button
                var container = self.parent();
                var button;

                // if not error
                if (!data.proposition.error) {
                    container.empty();

                    if (data.proposition.status == "accept") {
                        button = $("<button class='demand btn btn-sm btn-success'>Accepter</button>");
                    } else if (data.proposition.status == "decline") {
                        button = $("<button class='demand btn btn-sm btn-danger'>Refuser</button>");
                    }
                    container.append(button);
                } else {
                    // else show error message
                    $('#demand-message').text(data.proposition.message).fadeIn();
                }

            }).fail(function (error) {
                console.log(error);
            });

        });
    </script>
{% endblock %}
