{% block body %}
<div class="listProjet selChoice">
    <div class="notBloc">
        <p class="dateNot">Votre selection</p>
        <p>Vous avez fait votre sélection parmi les propositions qui vous ont été faites.</p>
        <p>Veuillez maintenant faire votre choix final et choisir le Freelance avec qui vous souhaitez travailler.</p>
        {% for proposition in propositions %}
        <ul>
            <li>
                <img src="{{ home ~ proposition.account.picture }}" height="66px" width="66px" alt="Notification user"/>

                <p>
                    <a href="{{ home }}users/profile/{{ proposition.id }}">{{ proposition.account.firstname ~ " " ~ proposition.account.lastname }}</a>
                    a été selectionné pour votre projet
                </p>

                <div class="choice" style="float: right;">
                        <button class="demand btn btn-sm"
                                data-choice="choosen"
                                data-project-id="{{ project.id }}"
                                data-freelance-id="{{ proposition.freelance_id }}">Choisir se freelance
                        </button>
                </div>

                <hr class="clear"/>
            </li>
            {% endfor %}

        </ul>
    </div>

</div>

<hr class="clear"/>

{% endblock %}
