{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div id="projectView">
        <div class="wrapper">

            <div id="profileInfo">

                <h1>{{ project.name }}</h1>

                <h2>
                    <span>Proposé par </span>
                    <a href="{{ home }}users/profile/{{ project.client.id }}">{{ project.client.firstname ~ " " ~ project.client.lastname }}</a>
                </h2>

                <ul>

                    <li>Date <span>{{ project.created_at | date("d F Y") }}</span></li>
                    <li>Cibles <span>{{ project.targets | capitalize }}</span></li>
                    <li>Site web
                    <span>
                        {% if project.url %}
                            <a href="{{ project.url }}" target="_blank">{{ project.url }}</a>
                        {% else %}
                            Aucun
                        {% endif %}
                    </span>
                    </li>
                    <li>Estimation <span>{{ project.price }} €</span></li>
                    <li>
                        <p class="tagList">
                            <a href="#">{{ project.type.type | capitalize }}</a>
                            {% for tag in tags %}
                                <a href="#">{{ tag.tag | capitalize }}</a>
                            {% endfor %}
                        </p>
                    </li>
                    <li class="projectFiche">
                        <p>Fichiers utiles <span>Télécharger</span></p>
                        <ul>
                            {% for file in files %}
                                <li><a href="{{ home ~ file.file }}" target="_blank">{{ file.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
                <hr class="clear"/>
                {% if project.status == "OUVERT" and login.type == "FREELANCE" %}
                    <a class="buttonWhite" href="{{ home }}projects/join/{{ project.id }}">Je participe</a>
                {% endif %}


            </div>

            <div id="profileDescription">

                <h3>Description du projet</h3>

                <p class="infoList">{{ project.description }}</p>

                <h3>Mes recommandations</h3>

                <p class="infoList">{{ project.recommendation }}</p>

            </div>

            <div class="listProjet">
                <h3>Ils souhaitent participer <span>{{ propositions | length }} Demandes</span></h3>

                <div class="notBloc">
                    <p class="dateNot">Propositions</p>
                    <ul>
                        {% for proposition in propositions %}
                            <li>
                                <img src="{{ home ~ proposition.account.picture }}" height="66px" width="66px"
                                     alt="Notification user"/>

                                <p>
                                    <a href="{{ home }}users/profile/{{ proposition.account.id }}">{{ proposition.account.firstname ~ " " ~ proposition.account.lastname }}</a>
                                    souhaite participer au projet</p>
                                <hr class="clear"/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr class="clear"/>
            <div class="push"></div>

        </div>
    </div>


{% endblock %}