{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <h2>{{ project.name }}</h2>
    <div class="jumbotron">
        <p>{{ project.description }}</p>

        <p>Proposé par
            <a href="{{ home }}users/profile/{{ project.client.id }}">
                {{ project.client.firstname ~ ' ' ~ project.client.lastname }}
            </a>
        </p>

        <p>Status: {{ project.status }}</p>

        <ul class="targets">
            {% set targets = project.targets|split(',') %}
            {% for target in targets %}
                <li>{{ target }}</li>
            {% endfor %}
        </ul>
        
        {% if login.type == 'FREELANCE' and project.status == "OUVERT" %}
        <div class="participate">
            <a class="btn btn-primary btn-md" href="{{ home }}projects/join/{{ project.id }}" role="button">Je souhaite participer</a>
        </div>
        {% elseif (login.type == 'CLIENT') and (login.id == project.client_id) %}
            <a class="btn btn-primary btn-md" href="{{ home }}projects/delete/{{ project.id }}" role="button">Annuler ce projet</a>
        {% endif %}

    </div>
{% endblock %}