{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div id="timelineHead" class="pageHead">
        <ul>
            <li><span></span>Information</li>
            <li class="timelineActive"><span></span>Détails</li>
            <li><span></span>Validation</li>
        </ul>
        <hr class="clear"/>
    </div>

    <div id="gabaritBG">

        <div id="ProjetInfo">

            <div class="wrapper">
                <h3>Etape {{ step }}</h3>
                <h3>Dites nous en un peu plus sur votre projet</h3>
                <p>De quoi s'agit-il ?</p>
            </div>

        </div>

        <div id="projetGabarit">
            <div class="wrapper">
                <ul>
                    {% for type in types %}
                        <li>
                            <a href="#" class="nextStep" data-choice="{{ type.id }}" data-step="{{ step }}"
                               data-type="{{ type.id }}" data-change="next">
                                <img src="{{ image }}icon-oppotunites.png" alt=" ">
                            </a>

                            <h3>{{ type.type | capitalize }}</h3>

                            <p>{{ type.description }}</p>
                        </li>
                    {% endfor %}

                </ul>
                <hr class="clear"/>

                {#<a class="buttonWhite" href="#">Continuer</a>#}
            </div>
        </div>

    </div><!-- end gabarit bg -->

    <div class="push"></div>
    </div><!-- end page -->

{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script>

        $('.nextStep').click(changeStep);
        $('#prevStep').click(changeStep);

        function changeStep(e) {
            e.preventDefault();
            var step = $(e.currentTarget).attr('data-step');
            var change = $(e.currentTarget).attr('data-change');

            console.log(change);
            if (change == 'next') {
                step++;
            } else if (change == 'prev') {
                step--;
            }


            if (step >= 0 && step <= 10) {
                $.ajax({
                    url: "{{ home }}projects/detail/step/" + step,
                    type: 'POST',
                    data: {
                        type: $(e.currentTarget).attr('data-type'),
                        step: step,
                        choice: $(e.currentTarget).attr('data-choice')
                    }
                }).done(function (data, textStatus, jqXHR) {
                    $('#gabaritBG').empty().append(data);
                    $('.nextStep').click(changeStep);
                    $('#prevStep').click(changeStep);

                    if (typeof data.step != "undefined" && data.step.status == "finish") {
                        window.location.href = data.step.redirect;
                    }

                }).fail(function () {

                });
            }
        }


    </script>
{% endblock %}