{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div id="timelineHead" class="pageHead">
        <ul>
            <li><span></span>Information</li>
            <li class="timelineActive"><span></span>Détails</li>
            <li><span></span>Validation</li>
        </ul>
        <hr class="clear"/>
    </div>

<div id="gabaritBG">

    <div id="ProjetInfo">

        <div class="wrapper">
            <h1>Création graphique</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <div class="projetBugdet">
            <p>650€<span>Budget estimé</span></p>
            </div>

            <a class="previousQ" href="#">← Question précédente</a>

        </div>
        
    </div>

    <div id="projetGabarit">
        <div class="wrapper">
            <ul>
                <li>
                    <img src="{{ image }}icon-oppotunites.png" alt=" ">
                    <h3>logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </li>
                <li>
                    <img src="{{ image }}icon-oppotunites.png" alt=" ">
                    <h3>logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </li>
                <li>
                    <img src="{{ image }}icon-oppotunites.png" alt=" ">
                    <h3>logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </li>
            </ul>
            <hr class="clear"/>

            <a class="buttonWhite" href="#">Continuer</a>
        </div>
    </div>
</div><!-- end gabarit bg -->

 <div class="push"></div>
</div><!-- end page -->

{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script>

        $('.nextStep').click(changeStep);
        $('#prevStep').click(changeStep);

        function changeStep(e) {
            var step = $(e.currentTarget).attr('data-step');
            var change = $(e.currentTarget).attr('data-change');

            console.log(change);
            if (change == 'next') {
                step++;
            } else if (change == 'prev') {
                step--;
            }


            if (step >= 0 && step <= 10) {
                $.ajax({
                    url: "{{ home }}projects/detail/step/" + step,
                    type: 'POST',
                    data: {
                        type: $(e.currentTarget).attr('data-type'),
                        step: step,
                        choice: $(e.currentTarget).attr('data-choice')
                    }
                }).done(function (data, textStatus, jqXHR) {
                    $('#type-container').empty().append(data);
                    $('.nextStep').click(changeStep);
                    $('#prevStep').click(changeStep);

                    if (typeof data.step != "undefined" && data.step.status == "finish") {
                        window.location.href = data.step.redirect;
                    }

                }).fail(function () {

                });
            }
        }


    </script>
{% endblock %}