{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
    <div class="container">
        <h2>Dites nous en un peu plus sur votre projet</h2>

        <div id="type-container" class="type">
            <h3>Etape {{ step }}</h3>

            <h3>De quoi s'agit-il ?</h3>

            {% for type in types %}
                <div class="col-md-4">
                    <div class="col-md-12">
                        <a href="#" class="nextStep" data-step="{{ step }}" data-type="{{ type.id }}" data-change="next">
                            <img src="http://placehold.it/250x275" alt="" class="img-rounded">
                        </a>
                    </div>
                    <div class="col-md-12">{{ type.type | capitalize }}</div>
                    <div class="col-md-12"><p>{{ type.description }}</p></div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script>

        $('.nextStep').click(changeStep);
        $('#prevStep').click(changeStep);

        function changeStep(e) {
            var step = $(e.currentTarget).attr('data-step');
            var change = $(e.currentTarget).attr('data-change');

            console.log(change);
            if(change == 'next') {
                step++;
            }else if(change == 'prev') {
                step--;
            }


            if (step >= 0 && step <= 10) {
                $.ajax({
                    url: "{{ home }}projects/step/" + step,
                    type: 'POST',
                    data: {
                        type: $(e.currentTarget).attr('data-type'),
                        step: step
                    }
                }).done(function (data, textStatus, jqXHR) {
                    $('#type-container').empty().append(data);
                    $('.nextStep').click(changeStep);
                    $('#prevStep').click(changeStep);

                    if(typeof data.step != "undefined" && data.step.status == "finish"){
                        window.location.href = data.step.redirect;
                    }

                }).fail(function () {

                });
            }
        }


    </script>
{% endblock %}