{% block body %}

    <div id="ProjetInfo">

        <div class="wrapper">

            <h3>{{ questions.0.question }}</h3>

            <p>{{ questions.0.question_description }}</p>

            <div class="projetBugdet">
                <p>650€<span>Budget estimé</span></p>
            </div>

            {% if step > 1 %}
                <button id="prevStep" class="previousQ" type="button"
                        data-choice="{{ question.response_id }}" data-step="{{ step }}"
                        data-type="{{ type }}" data-change="prev">← Question précédente
                </button>
            {% endif %}
        </div>

    </div>

    <div id="projetGabarit">
        <div class="wrapper">
            <ul class="projet4">
                {% for question in questions %}
                    <li class="nextStep" data-step="{{ step }}" data-type="{{ type }}"
                        data-choice="{{ question.response_id }}" data-change="next">

                        <img src="{{ home ~ question.image }}" alt=" ">

                        <h3>{{ question.response }}</h3>

                        <p>{{ question.description }}</p>
                    </li>
                {% endfor %}

            </ul>
            <hr class="clear"/>

            <p class="projetStep">Étape {{ step }}</p>

            {#<a class="buttonWhite" href="#">Continuer</a>#}
        </div>
    </div>

{% endblock %}