{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div class="pageHead">
        <h1>Comment ça marche ?</h1>
    </div>

    <div class="stepHow">
        <div class="wrapper">

            <p class="projetStep">Étape 1</p>

            <h2>Votre projet</h2>
            <ul>
                <li>
                    <img src="{{ image }}how-1.png" alt="Le client propose un projet"/>

                    <p>Vous avez une idée, un projet et vous ne savez pas vraiment qui contacter. <br>
                        Ne vous inquiétez pas, à travers différentes étapes ultra-simplifiées, nous allons vous
                        accompagner dans la soumission de votre projet !</p>
                </li>
                <li>
                    <img src="{{ image }}how-2.png" alt="Le client propose un projet"/>

                    <p>Une fois votre projet soumis, il sera visible par les freelances (ceux qui travailleront pour
                        votre projet).
                        <br>Les freelances pourront alors postuler à votre projet s'ils souhaitent travailler pour vous.
                    </p>
                </li>


            </ul>

            <hr class="clear"/>
        </div>
    </div>

    <div class="stepHow stepHowGray">
        <div class="wrapper">

            <p class="projetStep">Étape 2</p>

            <h2>Proposition des freelances</h2>
            <ul>
                <li>
                    <img src="{{ image }}how-3.png" alt="Le client propose un projet"/>

                    <p>Parmi votre liste de freelances qui ont postulé, consultez chaque profil pour en savoir plus sur
                        eux. Avis, notes, descriptions... vous permettent de vous faire une idée.<br>Vous pourrez alors
                        à tout moment choisir les 3 qui vous auront le plus intéressé.</p>
                </li>
                <li>
                    <img src="{{ image }}how-4.png" alt="Le client propose un projet"/>

                    <p>Les 3 freelances choisis vous feront alors un devis chacun en précisant ce qui est compté dans le prix.</p>
                </li>


            </ul>

            <hr class="clear"/>
        </div>
    </div>

    <div class="stepHow stepHowlast">
        <div class="wrapper">

            <p class="projetStep">Étape 3</p>

            <h2>Envoi des devis</h2>

            <ul>
                <li>
                    <img src="{{ image }}how-5.png" alt="Le client propose un projet"/>

                    <p>Enfin, vous pourrez soumettre votre décision finale pour choisir qui sera LE freelance qui travaillera pour vous.</p>
                </li>
                <li>
                    <img src="{{ image }}how-6.png" alt="Le client propose un projet"/>

                    <p>Une fois l'accord passé, le freelance aura accès à votre mail pour vous contacter directement.
                        <br>Vous pourrez alors parler du projet plus en détail avec lui et y ajouter des améliorations si nécessaire.</p>
                </li>


            </ul>

            <a class="buttonWhite" href="{{ home }}users/register">Proposer un projet</a>

            <hr class="clear"/>
        </div>
    </div>




    <div class="push"></div>
    </div><!-- end page -->


{% endblock %}