{% extends 'layouts/' ~ layout ~ '.twig' %}
{% set type = user.type %}

{% block body %}

    <div id="profileView">
        <!-- begin FORM -->
        <form method="post" action="{{ home }}users/profile/update" class="form-horizontal" enctype="multipart/form-data">
            <div class="wrapper">

                <div id="profileInfo">

                    <h1>{{ user.type }} <span>{{ (type == "FREELANCE") ? user.freelance.experience : '' }}</span></h1>

                    {% set picture = (user.picture is empty) ? image ~ 'user-profile.png' : home ~ user.picture %}
                    <img src="{{ picture }}" alt="Freelance"/>

                    <label id="largeFile" for="file">
                        <input class="file" type="file" id="picture" name="picture" class="form-control">
                    </label>

                    <h2>{{ user.firstname ~ ' ' ~ user.lastname }}
                        <span>
                            {% if type == "FREELANCE" %}
                                <input type="text" name="freelance[activity]"
                                       value="{% if user.freelance.activity %}{{ user.freelance.activity }}{% endif %}"
                                       class="form-control" id="activity" placeholder="Description de votre activité">
                                <span class="help-block with-errors">{% if errors.freelance.activity %}{{ errors.freelance.activity }}{% endif %}</span>

                            {% elseif type == "CLIENT" %}
                                <input type="text" name="client[activity]"
                                       value="{% if user.client.activity %}{{ user.client.activity }}{% endif %}"
                                       class="form-control" id="activity" placeholder="Description de votre activité">
                                <span class="help-block with-errors">
                                    {% if errors.client.activity %}{{ errors.client.activity }}{% endif %}
                                </span>
                            {% endif %}
                        </span>
                    </h2>

                    <ul>
                        {% if type == "FREELANCE" %}
                            <li>Projets réalisés <span>{{ user.projects | length }}</span></li>
                        {% elseif type == "CLIENT" %}
                            <li>Projets proposés <span>{{ user.projects | length }}</span></li>
                        {% endif %}

                        {% if type == "FREELANCE" %}
                            <li>Note des clients
                                <div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-5" type="radio" name="star"/>
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star"/>
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" checked name="star"/>
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" checked name="star"/>
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" checked name="star"/>
                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                </div>
                            </li>
                        {% endif %}

                        {% if type == "FREELANCE" %}
                            <li>
                                <input type="url" name="freelance[url]"
                                       value="{% if user.freelance.url %}{{ user.freelance.url }}{% endif %}"
                                       class="form-control" id="url" placeholder="Url de votre site personnel">
                            </li>
                        {% endif %}
                        <li>Me situer</li>
                    </ul>
                    <div id="maps" style="width: 348px; height: 245px;"></div>
                </div>
                <!-- end PROFILE INFO -->

                <div id="profileDescription">

                    <h3>Description</h3>

                    <p class="infoList">
                        <textarea name="account[description]" class="form-control" rows="3"
                                  placeholder="Description de votre profil">{% if user.description %}{{ user.description }}{% endif %}</textarea>
                    </p>

                    {% if type == "FREELANCE" %}
                        <h3>Mes compétences</h3>
                        <div class="skills">
                            <input name="freelance[skills]" type="text" class="form-control" id="skills"
                                   value="{% for skill in user.freelance.skills %}{{ skill.name ~ ',' }}{% endfor %}">
                        </div>
                    {% endif %}
                </div>

                <div class="listProjet">
                    <h3>Informations complémentaires</h3>

                    <div class="form-group {{ (errors.phone) ? 'has-error' : '' }}">
                        <label for="phone">Téléphone</label>

                        <div class="col-sm-10">
                            <input type="tel" name="account[phone]"
                                   value="{% if user.phone %}{{ user.phone }}{% endif %}"
                                   class="form-control" id="phone" placeholder="Votre numero de téléphone">
                            <span class="help-block with-errors">{% if errors.phone %}{{ errors.phone }}{% endif %}</span>
                        </div>
                    </div>

                    <div class="form-group {{ (errors.city) ? 'has-error' : '' }}">
                        <label for="city">Ville</label>

                        <div class="col-sm-8">
                            <input type="text" name="account[city]" value="{% if user.city %}{{ user.city }}{% endif %}"
                                   class="form-control" id="city" placeholder="Votre ville">
                            <input type="hidden" name="account[lat]">
                            <input type="hidden" name="account[lng]">
                            <span class="help-block with-errors">{% if errors.city %}{{ errors.city }}{% endif %}</span>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default" type="button" id="getcoordonate">Verifier</button>
                        </div>
                    </div>

                    {% if type == "FREELANCE" %}
                        <div class="form-group">
                            <label for="type" class="control-label">Experience en tant que Freelance</label>

                            <div class="col-sm-10">
                                <select name="freelance[experience]" id="type" class="form-control">
                                    <option value="" disabled>Votre niveau ?</option>
                                    {% for experience in experiences %}
                                        <option {{ (user.freelance.experience == experience) ? 'selected' : '' }}
                                                value="{{ experience }}">{{ experience|lower }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                            <button id="submit" type="submit" class="btn buttonWhite btn-default">Enregistrer les informations
                            </button>
                    </div>

                </div>

                <hr class="clear"/>

            </div>
            <!-- end WRAPPER -->
        </form>
        <!-- end FORM -->

    </div><!-- end PROFILE VIEW -->

    <div class="push"></div>

</div>
{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBINLv5Zv0AOt5n54TdBDQn-T9sJ5ZIqHg"></script>
    <script>

        function getPosition(callback) {
            var lat = "{{ user.lat }}";
            var lng = "{{ user.lng }}";
            var position;

            if (lat == "" || lat == "") {
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: "Paris, France"
                }, function (result, status) {
                    if (status === "OK") {
                        position = result[0].geometry.location;
                        callback.call(this, position);
                    }
                });
            }
            callback.call(this, new google.maps.LatLng(lat, lng));
        }


        function initialize() {
            getPosition(function (position) {
                var mapOptions = {
                    center: position,
                    zoom: 13
                };

                var map = new google.maps.Map(document.getElementById("maps"),
                        mapOptions);

                var marker = new google.maps.Marker({
                    title: "Adresse",
                    visible: true,
                    map: map,
                    position: position,
                });

                marker.info = new google.maps.InfoWindow({
                    content: "<p>{{ user.firstname ~ " " ~ user.lastname }}</p><p>{{ user.city }}</p><p>{{ user.phone }}</p>",
                    position: position
                });

                google.maps.event.addListener(marker, 'click', function (e) {
                    marker.info.open(map, marker);
                });
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}