{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

<div class="pageHead">
		<h1>Notifications</h1>
</div>

<div id="notification">
	<div class="wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<div class="notBloc">
			<p class="dateNot">Aujourd'hui</p>
			<ul>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
			</ul>
		</div>

		<div class="notBloc">
			<p class="dateNot">24 Février</p>
			<ul>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
			</ul>
		</div>

		<div class="notBloc">
			<p class="dateNot">23 Février</p>
			<ul>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
				<li>
					<img src="{{ image }}notification-user.png" alt="Notification user"/>
					<p><a href="#">Marcel Pattulacci</a> souhaite participer à votre projet <a href="#">Nom du projet</a></p>
					<hr class="clear"/>
				</li>
			</ul>
		</div>
		

	</div>
</div>

    	<div class="push"></div>

</div><!-- end page -->



    {% if login.type == "CLIENT" %}
        {% include 'notifications/client.twig' %}
    {% elseif login.type == "FREELANCE" %}
        {% include 'notifications/freelance.twig' %}
    {% endif %}
{% endblock %}