{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

        <form method="post" action="{{ home ~ request }}" class="form-horizontal">

            <div id="registerHead" class="connectionhead">
                <div class="wrapper">
                    <h1>S’enregistrer</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>

                    <div class="radio-group">
                        <input id="opt_1" class="radio-group__option" type="radio" name="type" value="{{ type.0 }}">
                        <label class="radio-group__label" for="opt_1">{{ type.0 }}</label>

                        <input id="opt_2" class="radio-group__option" type="radio" name="type" value="{{ type.1 }}">
                        <label class="radio-group__label" for="opt_2">{{ type.1 }}</label>
                    </div>

                </div>
            </div>

            <div id="registerInfo">
                <div class="wrapper">
                    <h3>Informations</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.</p>

                    <div class="form-group form-mar {{ (errors.lastname) ? 'has-error' : '' }}">
                        <div class="col-sm-10">
                            <input type="text" name="lastname"
                                   value="{% if user.lastname %}{{ user.lastname }}{% endif %}"
                                   class="form-control" id="lastname" placeholder="Nom">
                            <span class="help-block with-errors">{% if errors.lastname %}{{ errors.lastname }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="form-group {{ (errors.firstname) ? 'has-error' : '' }}">
                        <div class="col-sm-10">
                            <input type="text" name="firstname"
                                   value="{% if user.firstname %}{{ user.firstname }}{% endif %}"
                                   class="form-control" id="firstname" placeholder="Prénom">
                            <span class="help-block with-errors">{% if errors.firstname %}{{ errors.firstname }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="form-group  {{ (errors.mail) ? 'has-error' : '' }}">
                        <div class="col-sm-10">
                            <input type="mail" name="mail" value="{% if user.mail %}{{ user.mail }}{% endif %}"
                                   class="form-control" id="mail" placeholder="Adresse email">
                            <span class="help-block with-errors">{% if errors.mail %}{{ errors.mail }}{% endif %}</span>
                        </div>
                    </div>
                    <h3>Mot de passe</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.</p>

                    <div class="form-group form-marg {{ (errors.password) ? 'has-error' : '' }}">
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Mot de passe">
                            <span class="help-block with-errors">{% if errors.password %}{{ errors.password }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" name="repeatpassword" class="form-control" id="repeatpassword"
                                   placeholder="Confirmez votre mot de passe">
                        </div>
                    </div>
                    <!-- 					<div class="form-group">
						<label for="type" class="col-sm-2 control-label">Vous êtes</label>
						<div class="col-sm-10">
							<select name="type" id="type" class="form-control" required>
								<option value="" disabled>Que faites vous ?</option>
								<option value="{{ type.0 }}">Freelance : je réalise des projets</option>
								<option value="{{ type.1 }}">Client : j'ai un projet à réaliser</option>
							</select>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default buttonWhite">S'inscrire</button>
						</div>
					</div>
				</form>
				<hr class="clear"/>
			</div><!-- end wrapper -->
		</div><!-- end Register Info -->
	<div class="push"></div>
</div><!-- end page -->

{% endblock %}