{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}
	<form method="post" action="{{home ~ request}}" class="form-horizontal">
		<div class="form-group {{ (errors.lastname) ? 'has-error' : '' }}">
			<label for="lastname" class="col-sm-2 control-label">Nom</label>
			<div class="col-sm-10">
				<input type="text" name="lastname" value="{% if user.lastname %}{{ user.lastname }}{% endif %}"
				class="form-control" id="lastname" placeholder="Nom">
				<span class="help-block with-errors">{% if errors.lastname %}{{ errors.lastname }}{% endif %}</span>
			</div>
		</div>
		<div class="form-group {{ (errors.firstname) ? 'has-error' : '' }}">
			<label for="firstname" class="col-sm-2 control-label">Prenom</label>
			<div class="col-sm-10">
				<input type="text" name="firstname" value="{% if user.firstname %}{{ user.firstname }}{% endif %}"
				class="form-control" id="firstname" placeholder="Prenom">
				<span class="help-block with-errors">{% if errors.firstname %}{{ errors.firstname }}{% endif %}</span>
			</div>
		</div>
		<div class="form-group {{ (errors.mail) ? 'has-error' : '' }}">
			<label for="mail" class="col-sm-2 control-label">Adresse email</label>
			<div class="col-sm-10">
				<input type="mail" name="mail" value="{% if user.mail %}{{ user.mail }}{% endif %}"
				class="form-control" id="mail" placeholder="Adresse email">
				<span class="help-block with-errors">{% if errors.mail %}{{ errors.mail }}{% endif %}</span>
			</div>
		</div>
		<div class="form-group {{ (errors.password) ? 'has-error' : '' }}">
			<label for="password" class="col-sm-2 control-label">Mot de passe</label>
			<div class="col-sm-10">
				<input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe">
				<span class="help-block with-errors">{% if errors.password %}{{ errors.password }}{% endif %}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="repeatpassword" class="col-sm-2 control-label">Repeter mot de passe</label>
			<div class="col-sm-10">
				<input type="password" name="repeatpassword" class="form-control" id="repeatpassword" placeholder="Repeter mot de passe">
			</div>
		</div>
		<div class="form-group">
			<label for="type" class="col-sm-2 control-label">Vous êtes</label>
			<div class="col-sm-10">
				<select name="type" id="type" class="form-control" required>
					<option value="" disabled>Que faites vous ?</option>
					<option value="{{ type.0 }}">Freelance : je réalise des projets</option>
					<option value="{{ type.1 }}">Client : j'ai un projet à réaliser</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">S'inscrire</button>
			</div>
		</div>
	</form>
{% endblock %}