{% extends 'layouts/' ~ layout ~ '.twig' %}

{% block body %}

    <div class="col-md-4">
        <h3>
            <span class="type">{{ user.type }}</span>
            <span class="experience">{{ (user.type == 'FREELANCE') ? user.freelance.experience : '' }}</span>
        </h3>
        <h4>{{ user.firstname ~ ' ' ~ user.lastname }}</h4>
    </div>

    <div class="col-md-8">
        <div class="profile-header">
            <div class="profile-description">
                <h3>Description</h3>

                <p>{{ user.description }}</p>
            </div>
            {% if user.freelance.skills %}
                <div class="profile-skill">
                    <h3>Mes compétences</h3>
                    <ul class="skills">
                        {% for skill in user.freelance.skills %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>


    <div id="maps" style="width: 335px; height: 245px;">

    </div>

{% endblock %}

{% block partial_js %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBINLv5Zv0AOt5n54TdBDQn-T9sJ5ZIqHg"></script>
    <script>

        function getPosition(callback) {
            var lat = "{{ user.lat }}";
            var lng = "{{ user.lng }}";
            var position;

            if (lat == "" || lat == "") {
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: "Paris, France"
                }, function (result, status) {
                    if (status === "OK") {
                        position = result[0].geometry.location;
                        callback.call(this, position);
                    }
                });
            }
            callback.call(this, new google.maps.LatLng(lat, lng));
        }


        function initialize() {
            getPosition(function (position) {
                var mapOptions = {
                    center: position,
                    zoom: 13
                };

                var map = new google.maps.Map(document.getElementById("maps"),
                        mapOptions);

                var marker = new google.maps.Marker({
                    title: "Adresse",
                    visible: true,
                    map: map,
                    position: position,
                });

                marker.info = new google.maps.InfoWindow({
                    content: "<p>{{ user.firstname ~ " " ~ user.lastname }}</p><p> {{ user.city }}</p>",
                    position: position
                });

                google.maps.event.addListener(marker, 'click', function (e) {
                    marker.info.open(map, marker);
                });
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}